/* The Logo */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 80px;
    padding-bottom: 4px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

#animation {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
/*  -----------------------------   */

/* Formatting for each section  */
.section {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-shadow: 2px 2px 4px #888888;
}


/* Intro Section */
.intro {
    padding-top: 10px;
    background-color: #A5F3E8;
}

/* Profile Picture */
.profile_pic {
    justify-content: center;
    display: flex;
}

.shrek {
    width: 128px;
    height: 128px;
    border: 2px ridge black;
    align-self: center;
}

/* My Name */
.name {
    padding-top:64px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Garamond';
    font-size: 36px;
    color:white;
    text-shadow: -1px -1px rgb(200, 0, 0), 1px -1px rgb(200, 0, 0), 1px 1px rgb(200, 0, 0), -1px 1px rgb(50, 0, 0),;
    padding-bottom:12px;
}

/* My Bio */
.bio {
    text-align: center;
    font-family: 'Garamond';
    font-size: 18px;
    padding-bottom: 128px;
    color: white;
}

.toDo {
    margin-left:20px;
    margin-right:20px;
}

/*  -----------------------------   */

/* Social Section */
.socials{
    padding-top: 20px;
    background-color: lightblue;
    font-weight: bold;
    text-align: center;
    font-family: 'Garamond';
    font-size: 24px;
    padding-bottom: 20px;

    column-count: 2;
    column-gap: 6px;
}

.page_links {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.page_links:hover {
    color:red;
}

.social_name {
    column-span: all;
    font-weight: bold;
    text-align: center;
    font-family: 'Garamond';
    font-size: 24px;
}

/* Social Icons Section*/
.social_icons {
    margin-top: 50px;
    /* justify-content: center; */
    /* display: flex; */

}

/* Images that take you to different pages */
.image_link text{
    font-size: 12pt;
    /* padding-right: 20px; */
}

.image_link img {
    width: 240px;
    height: 120px;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    margin-top: 20px;
    margin-bottom: 30px;
    border: 4px solid #000000;
    transition: border 0.4s;

    display: block;
    margin: 20px auto 30px;

}

.image_link img:hover {
    border: 12px solid transparent; /* Make the border transparent on hover */
    cursor: pointer;

}

.image_link img:default {
    border: 4px solid black;
}



/*  -----------------------------   */

/* Navigation */
.overlay {
    position: fixed;
    background-color: rgb(0,0,0);
    display: flex;
    width: 100vw;
    top:0%;
}

.overlay img {
    width: 50%;
    height: auto;
    padding-top:16px;
}

.overlay_item {
    padding-left: 20px;
    justify-content: center;
    padding-top:16px;
}

.overlay_home {
    justify-content: left;
}

/* Beat Section */
.beat{
    display: grid;
    grid-template-columns: 200px 256px 64px;
    align-items: center;
    column-gap: 12px;
    padding-top: 16px;
    padding-bottom: 20px;
    padding-left:12px;

    border-bottom: 1px solid rgb(50,50,50)
}

.beat_guide{
    display: grid;
    grid-template-columns: 220px 256px 28px;
    align-items: center;
    column-gap: 12px;
    padding-top: 16px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;

}

.beat_guide text{
    display: block;
}

.beat_guide text:nth-of-type(1){
    justify-self: start;
}

.beat_guide text:nth-of-type(3){
    justify-self: end;
}

/* Layout the play image, name, and number into three columns */
.beat text{
    display: block;
}

.beat text:nth-of-type(1){
    justify-self: start;
}

.beat text:nth-of-type(3){
    justify-self: end;
}


.controls {
    width: 20%;
    height: auto;
}

.controls:hover {
    cursor: pointer;
}


.basic_image {
    width: 100%;
    height: auto;
    border: 2px solid black;
}